<h2>Jugando con arrays</h2>


<div class="row">
    <div class="col">
        <pre>
            {{frutas | json}}
        </pre>
    </div>
    <div class="col">
        <p>precio total: {{total}}</p>
        <p>precio total con descuento: {{totalDescuento}}</p>
        <p>Solo nombres de frutas: <b>{{aSoloNombres}}</b> </p>
        <p>nombre frutas amarillas: <b>{{aSoloAmarillas}}</b> </p>
        <p>precio total frutas amarillas: <b>{{aPrecioAmarillas}}</b> </p>
        <p>buscar primera fruta verde: <b>{{frutaVerde}}</b> </p>
        <p>colores: <b>{{aColores}}</b> </p>
    </div>
</div>
