<h2>Tareas</h2>
<p>Ejemplo de provider o Servicio para hacer un CRUD completo, contra un servicio REST</p>
<div class="col-12 principal">
    <div class="contenedor col-8" >
        <div class="row justify-content-center">
            <div class="col-9 input-group ">
                <input type="text" class="form-control" [(ngModel)]="tituloNuevo" >
                <div class="input-group-append">
                    <button class="input-group-text" (click)="nuevaTarea()">Crear</button >                
                </div>            
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="col-9 list-group">
                <li (click)="editarTitulo()" class="list-group-item" *ngFor="let tarea of tareas">
                    <input type="checkbox"  [checked]="tarea.completada" (click)="editarEstado(tarea)">
                    <b>{{tarea.id}} </b>          
                    <span class="titulo {{(tarea.completada)?'completada':''}}">{{tarea.titulo}} </span> 
                    <i (click)="eliminarTarea(tarea.id)" class="fas fa-trash-alt"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
