
span.titulo{
    font-weight: 500;
}

span.completada{
    text-decoration: line-through;
    font-weight: 100;
    color:rgb(200,113,113);

}
.contenedor{
    padding:20px;
    box-align: center;
    background-color: rgba(128, 128, 128, 0.575);       
    margin: auto;
}
.principal{
    background-image: url("https://media.aws.alkosto.com/media/catalog/product/cache/6/image/69ace863370f34bdf190e4e164b6e123/7/7/7707036533436_1.jpg");
    padding: 4em;
    
}